html {
  height: 100%;
}

body {
  background: url(https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  /* display: flex;
  align-items: row;
  justify-content: center; */
}

.container {
  display: grid;
  place-items: center;
}

.red {
  width: 6em;
  height: 6em;
  background-color: red;
  border-radius: 50%;
}

.green {
  width: 6em;
  height: 6em;
  background-color: green;
  border-radius: 50%;
}

.blue {
  width: 6em;
  height: 6em;
  background-color: blue;
  border-radius: 50%;
}
