html {
  height: 100%;
}

body {
  background: url(https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: lawngreen;
  font: italic;
  size: bold;
  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red {
  width: 7em;
  height: 7em;
  background-color: red;
  border-radius: 50%;
  margin: 2em;
  animation: 1s ease 0s infinite beat;
}

@keyframes beat {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }
  30%,
  80% {
    transform: scale(0.92, 0.95);
  }
}

@keyframes pulse {
  0%,
  50%,
  100% {
    background: #fee;
  }
  30%,
  80% {
    background: #fff;
  }
}

.green {
  width: 6em;
  height: 6em;
  background-color: green;
  border-radius: 50%;
  margin: 2em;
  animation-name: my-animation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes my-animation {
  from {
    background-color: #ff7a59;
    width: 300px;
    top: 10px;
  }
  to {
    background-color: #33475b;
    width: 50px;
    top: 100px;
  }
}

.blue {
  width: 7em;
  height: 7em;
  background-color: blue;
  border-radius: 50%;
  margin: 2em;
  transition-property: transform;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
